Package: apache-gluten-velox
Version: 1.6.0-1~ubuntu24.04
Architecture: amd64
Maintainer: Kooriyattuthobiyil Raveendran Libin <lathalibin@gmail.com>
Installed-Size: 233502
Depends: openjdk-21-jre-headless
Section: java
Priority: optional
Description: Vectorized engine for Apache Spark (Velox Backend)
 Apache Gluten is an execution engine that offloads Spark JVM
 processing to a native vectorized layer using Velox.
 .
 Built for Java 21 and Scala 2.13.13.
